<h4 class="title">A propos de Cheikh Omar SOW</h4>
<div class="about">
    <p class="sous-titre">Qui suis-je ?</p>
    <p class="about_me">
        Je m'appelle Cheikh Omar, j'ai 23 ans, je suis
        passionné par tout ce qui touche à l'informatique.
    </p>
</div>
<div class="social">
    <p class="sous-titre">Retrouvez-moi sur les résaux sociaux !</p>
    <a href="https://www.linkedin.com/in/cheikh-omar-sow-54904412b/" target="_blank"><img src="assets/img/linkedin.png" alt="social"></a>
    <a href="https://github.com/cheikhomarsow/" target="_blank"><img src="assets/img/github.png" alt="social"></a>
    <a href="https://www.facebook.com/cheikhomar.sow" target="_blank"><img src="assets/img/facebook.png" alt="social"></a>
    <a href="https://twitter.com/cos45sin45" target="_blank"><img src="assets/img/twitter.png" alt="social"></a>
    <a href="https://www.instagram.com/cos221_/?hl=fr" target="_blank"><img src="assets/img/instagram.png" alt="social"></a>
</div>