<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="?action=home" id="logo">Sikar</a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="#home" id="home">Accueil</a>
                </li>
                <li>
                    <a href="#all" id="all">Tout</a>
                </li>
                <li>
                    <a href="#artists" id="artists">Artistes</a>
                </li>
                {% if user.username is defined %}
                    <li>
                        <a href="#!"><img class='avatar' src="assets/img/avatar.png"></a>
                        <ul class="nav-dropdown">
                            {% if admin == true %}
                                <li>
                                    <a href="?action=admin"><img src="assets/img/man-with-tie.png">&nbsp;&nbsp;Administration</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#profile" id="profile"><img src="assets/img/settings-work-tool.png">&nbsp;&nbsp;Mon profil</a>
                            </li>
                            <li>
                                <a href="?action=logout"><img src="assets/img/logout.png">&nbsp;&nbsp;Me déconnecter</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="#" id="myBtn"><img src="assets/img/man-user.png">&nbsp;&nbsp;Se connecter</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</section>