{% extends 'layout.html.twig' %}
{% block content %}
    <main class="content">
        <div class="admin">
            <div class="container_form">
                {% if errors is defined %}
                <span class="error_block">{{ errors | raw }}</span>
                {% endif %}
                <h2 class="title">Ajouter un fichier</h2>
                <form action="?action=admin" method="POST" enctype="multipart/form-data">
                    <div class="login_form" >
                        <label for="audio"><p>Fichier : </p></label>
                        <input id="audio" type="file" name="file[]" multiple>
                    </div>
                    <div class="login_form" >
                        <label for="cover"><p>Cover : </p></label>
                        <input id="cover" type="file" name="file[]" multiple>            </div>
                    <div class="login_form" >
                        <label for="artist"><p>Artiste : </p></label>
                        <input id="artist" class="input" type="text" name="artist" placeholder="Artiste">
                    </div>
                    <div class="login_form" >
                        <label for="title"><p>Titre : </p></label>
                        <input id="title" class="input" type="text" name="title" placeholder="Titre">
                    </div>
                    <button type="submit" class="button"><img src="assets/img/add_audio.png">&nbsp;&nbsp;Ajouter</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

