{% extends 'layout.html.twig' %}

{% block content %}
    <main class="home_page">
        <div class="available-audios">
            <div class="player">
                <audio class="audio-player" id="audio-player" src=""></audio>
                <div class="cover"></div>
                <div class="controls">
                    <button class="prev">
                        <i class="fa fa-step-backward"></i>
                    </button>
                    <button class="play">
                        <i class="fa fa-play"></i>
                    </button>
                    <button class="pause">
                        <i class="fa fa-pause"></i>
                    </button>
                    <button class="stop">
                        <i class="fa fa-stop"></i>
                    </button>
                    <button class="next">
                        <i class="fa fa-step-forward"></i>
                    </button>
                </div>
                <div class="timer">00:00</div>
                <div class="volume">
                    <button class="volume-down">
                        <i class="fa fa-volume-down"></i>
                    </button>
                    <button class="volume-up">
                        <i class="fa fa-volume-up"></i>
                    </button>
                </div>
                <!--<progress class="testeVolume" value="0" min="0" max="100" step="1"></progress>-->
                <progress class="progress" value="0" min="0" max="100" step="1"></progress>
            </div>
            <div class="track-list">
                <ul>
                    <li class="track-info active" data-url="http://tylergrund.com/mp3/Beatles/Penny%20Lane.mp3" data-cover="http://streamd.hitparade.ch/cdimages/the_beatles-penny_lane_s_5.jpg">
                        <span class="title">Penny Lane</span>
                        <span class="time"></span>
                    </li>
                    <li class="track-info" data-url="http://tylergrund.com/mp3/Beatles/Eleanor%20Rigby.mp3" data-cover="http://images.gibson.com/Lifestyle/English/aaFeaturesImages2008pt2/beatles%20yellow%20sub.jpg">
                        <span class="title">Eleanor Rigby</span>
                        <span class="time"></span>
                    </li>
                    <li class="track-info" data-url="http://tylergrund.com/mp3/Beatles/Strawberry%20Fields%20Forever.mp3" data-cover="http://k31.kn3.net/1AA44B39D.jpg">
                        <span class="title">Strawberry Fields Forever</span>
                        <span class="time"></span>
                    </li>
                    <li class="track-info" data-url="http://tylergrund.com/mp3/Beatles/Ticket%20to%20Ride.mp3" data-cover="http://streamd.hitparade.ch/cdimages/the_beatles-ticket_to_ride_s_4.jpg">
                        <span class="title">Ticket to ride</span>
                        <span class="time"></span>
                    </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
