{% extends 'layout.html.twig' %}

{% block content %}
    <main class="content">
        <div class="empty-section">Vide ! on pourra mettre les ici des "sikarKate" LOL not why , et au clique , l'utilisateur aura acces a tous les 'sikar' du 'sikarKate' mdr ça c'est du français !!!</div>
    </main>
{% endblock %}
