@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: 'robotoBold';
}
@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: 'robotoRegular';
}
@font-face {
  src: url("../fonts/Roboto-Light.ttf");
  font-family: 'robotoLight';
}
@font-face {
  src: url("../fonts/Poppins-Medium.ttf");
  font-family: 'PoppinsMedium';
}
@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: 'PoppinsRegular';
}
@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: 'PoppinsSemiBold';
}
@media screen {
  body {
    margin: 0px;
  }

  p, ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .none {
    display: none;
  }

  header {
    position: fixed;
    width: 100%;
    /* Mobile navigation */
  }
  header .navigation {
    height: 70px;
    background: #3B5998;
  }
  header .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.7em;
    font-family: 'robotoBold';
  }
  header .brand a {
    color: #ffffff;
    text-decoration: none;
  }
  header .nav-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  header nav {
    float: right;
    font-family: 'PoppinsSemiBold';
  }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    float: left;
    position: relative;
    font-size: 0.8em;
  }
  header nav ul li .active {
    background: #355088;
  }
  header nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #3B5998;
    color: #ffffff;
    text-decoration: none;
  }
  header nav ul li a:hover {
    background: #355088;
    color: #ffffff;
  }
  header nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  header nav ul li a .avatar {
    max-width: 25px;
    margin-bottom: -8px;
  }
  header nav ul li ul li {
    min-width: 190px;
  }
  header nav ul li ul li:first-child {
    padding-top: 50px;
  }
  header nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  header .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  header .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #3B5998;
    height: 70px;
    width: 70px;
  }
}
@media only screen and (max-width: 800px) {
  header .nav-mobile {
    display: block;
  }
  header nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  header nav ul {
    display: none;
  }
  header nav ul li {
    float: none;
  }
  header nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  header nav ul li ul li a {
    padding-left: 30px;
  }
  header .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 800px) {
  header .nav-list {
    display: block !important;
  }
}
@media screen {
  header #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  header #nav-toggle span,
  header #nav-toggle span:before,
  header #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  header #nav-toggle span:before {
    top: -10px;
  }
  header #nav-toggle span:after {
    bottom: -10px;
  }
  header #nav-toggle.active span {
    background-color: transparent;
  }
  header #nav-toggle.active span:before, header #nav-toggle.active span:after {
    top: 0;
  }
  header #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  header #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  .modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .modal .modal-content {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .modal .modal-content {
    width: 40%;
  }
}
@media screen {
  .modal .modal-content .error_block {
    color: red;
  }
  .modal .modal-content .success_block {
    color: green;
  }
  .modal .modal-content .success_block #loginAfterRegister {
    text-decoration: underline;
    color: #355088;
    cursor: pointer;
  }
  .modal .modal-content .title {
    color: #2C3E50;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .modal .modal-content #registerBtn {
    margin: auto;
    text-decoration: underline;
    color: #2C3E50;
    cursor: pointer;
  }
  .modal .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modal .modal-content .close:hover, .modal .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal .modal-content .login_form p {
    color: #2C3E50;
    font-family: "robotoBold";
  }
  .modal .modal-content .login_form input {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .modal .modal-content .login_form input:focus {
    border: 2px solid #3B5998;
  }
  .modal .modal-content .button {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.42857143;
    background: #2C3E50;
    color: white;
    border: 1px solid #3B5998;
    border-radius: 5px;
  }

  #container {
    background: #f7f7f7;
  }
  #container .search-box {
    padding-top: 70px;
    width: 100%;
    background: #3B5998;
    max-height: 50px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  #container .search-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen {
  #container .search-box form {
    width: 100%;
    height: 50px;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  #container .search-box form {
    width: 30%;
  }
}
@media screen {
  #container .search-box form input[type=text] {
    width: 83%;
    max-height: 50px;
    border: 2px solid #3B5998;
    font-size: 1.2em;
    background-color: #2C3E50;
    background-image: url("../img/search.png");
    background-position: 12px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  #container .search-box form input[type=text] {
    width: 86%;
  }
}
@media screen {
  #container .search-box .submenu {
    display: none;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  #container .search-box .submenu {
    display: block;
    width: 70%;
  }
  #container .search-box .submenu nav {
    font-family: 'PoppinsSemiBold';
    width: 100%;
    margin: auto;
  }
  #container .search-box .submenu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    background: #FFF;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  #container .search-box .submenu nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  #container .search-box .submenu nav ul li {
    float: left;
    position: relative;
    font-size: 1.2em;
  }
  #container .search-box .submenu nav ul li a {
    display: block;
    color: #66757F;
    text-decoration: none;
    padding: 9px;
  }
  #container .search-box .submenu nav ul li a:hover {
    border-bottom: 2px solid #1DA1F2;
    color: #1DA1F2;
  }
  #container .search-box .submenu nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
}
@media screen and (min-width: 768px) {
  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen {
  #container .content {
    width: 100%;
  }
  #container .content .profile {
    padding: 10px;
    background: #E5E5E5;
  }
}
@media screen and (min-width: 768px) {
  #container .content .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen {
  #container .content .profile .contacts {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #container .content .profile .contacts {
    width: 70%;
  }
}
@media screen {
  #container .content .profile .contacts .container_form {
    margin: 0 10px;
  }
  #container .content .profile .contacts .container_form .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
  #container .content .profile .contacts .container_form .title {
    color: #3B5998;
    font-family: "robotoLight";
    border-bottom: 2px solid #3B5998;
  }
  #container .content .profile .contacts .container_form .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  #container .content .profile .contacts .container_form .login_form p {
    color: #3B5998;
    font-family: "robotoBold";
    padding: 10px;
  }
  #container .content .profile .contacts .container_form .login_form .input {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  #container .content .profile .contacts .container_form .login_form .input:focus {
    border: 2px solid #3B5998;
  }
  #container .content .profile .contacts .container_form .button {
    width: 100%;
    padding: 10px 10px;
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.42857143;
    background: #3B5998;
    color: white;
    border: 1px solid #3B5998;
    border-radius: 5px;
  }
}
@media screen and (min-width: 768px) {
  #container .content .profile .avatar-box {
    width: 20%;
  }
}
@media screen {
  #container .content .profile .avatar-box img {
    width: 100%;
    border-radius: 50%;
  }
  #container .content .profile .avatar-box div {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #66757F;
  }
  #container .content .admin {
    width: 100%;
  }
  #container .content .admin .container_form {
    margin: 0 10px;
  }
  #container .content .admin .container_form .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
  #container .content .admin .container_form .title {
    color: #3B5998;
    font-family: "robotoLight";
    border-bottom: 2px solid #3B5998;
  }
  #container .content .admin .container_form .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  #container .content .admin .container_form .login_form p {
    color: #3B5998;
    font-family: "robotoBold";
    padding: 10px;
  }
  #container .content .admin .container_form .login_form .input {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  #container .content .admin .container_form .login_form .input:focus {
    border: 2px solid #3B5998;
  }
  #container .content .admin .container_form .button {
    width: 100%;
    padding: 10px 10px;
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.42857143;
    background: #3B5998;
    color: white;
    border: 1px solid #3B5998;
    border-radius: 5px;
  }
}
@media screen and (min-width: 768px) {
  #container .content {
    width: 68%;
  }
}
@media screen {
  #container .playlist {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #container .playlist {
    width: 30%;
  }
}
@media screen {
  #container .playlist .available-audios {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
  #container .playlist .available-audios .player {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    flex-grow: 0;
    height: 400px;
  }
  #container .playlist .available-audios .player audio {
    display: none;
  }
  #container .playlist .available-audios .player .cover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
    background-size: 100% 100%;
    height: 100%;
  }
  #container .playlist .available-audios .player .cover .controls {
    display: flex;
    width: 90%;
    margin: auto;
    height: 60px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #container .playlist .available-audios .player .cover .controls button {
    background-color: transparent;
    border-radius: 50%;
    width: 60px;
    min-height: 60px;
    color: white;
    font-size: 150%;
  }
  #container .playlist .available-audios .player .cover .controls button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  #container .playlist .available-audios .player .cover .controls button.pause {
    display: none;
  }
  #container .playlist .available-audios .player .timer {
    width: 100%;
    border-radius: .75em;
    font-family: Fira Mono;
    font-size: 250%;
    height: 60px;
    line-height: 1.66em;
    margin: 60px auto;
    right: 0;
    text-align: center;
  }
  #container .playlist .available-audios .player .volume {
    width: 100%;
    text-align: center;
    height: 60px;
  }
  #container .playlist .available-audios .player .volume .volume-button {
    background-color: transparent;
    border-radius: 50%;
    width: 60px;
    min-height: 60px;
    color: white;
    font-size: 150%;
  }
  #container .playlist .available-audios .player .volume .volume-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  #container .playlist .available-audios .player .progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    height: 10px;
    width: 100%;
    border-left: 1px solid green;
    border-bottom: 1px dotted #39B54A;
  }
  #container .playlist .available-audios .player .progress::-moz-progress-bar, #container .playlist .available-audios .player .progress::-webkit-progress-value {
    background-color: white;
  }
  #container .playlist .available-audios .player .progress::-webkit-progress-bar {
    background-color: transparent;
  }
  #container .playlist .available-audios .track-list {
    font-size: 1.25em;
    width: 100%;
    background: #FFFFFF;
  }
  #container .playlist .available-audios .track-list ul {
    counter-reset: trackCounter;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #container .playlist .available-audios .track-list ul .track-info {
    counter-increment: trackCounter;
    display: flex;
    padding: .5em;
    color: #6E7786;
  }
  #container .playlist .available-audios .track-list ul .track-info:before {
    content: counter(trackCounter) ".";
    margin-right: .25em;
  }
  #container .playlist .available-audios .track-list ul .track-info.active {
    color: #4AB3F4;
  }
  #container .playlist .available-audios .track-list ul .track-info.active .title:after {
    content: ">";
    margin-left: .5em;
  }
  #container .playlist .available-audios .track-list ul .track-info:nth-child(even) {
    background-color: rgba(247, 247, 247, 0.25);
  }
  #container .playlist .available-audios .track-list ul .track-info:hover {
    cursor: pointer;
    color: #4AB3F4;
  }
  #container .playlist .available-audios .track-list ul .track-info .title {
    flex: 7 0 0;
  }
  #container .playlist .available-audios .track-list ul .track-info .time {
    flex: 1 0 0;
    text-align: right;
  }

  .contact_page {
    padding-top: 58px;
    margin: 0 10px;
  }
  .contact_page .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
}
@media screen and (min-width: 768px) {
  .contact_page {
    width: 80%;
    margin: auto;
    min-height: 500px;
  }
}
@media screen {
  .contact_page .title {
    color: #2C3E50;
    font-family: "robotoLight";
    border-bottom: 2px solid #2C3E50;
  }
  .contact_page .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  .contact_page .login_form p {
    color: #2C3E50;
    font-family: "robotoBold";
  }
  .contact_page .login_form input, .contact_page .login_form textarea {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .contact_page .login_form input:focus, .contact_page .login_form textarea:focus {
    border: 2px solid #3B5998;
  }
  .contact_page .login_form textarea {
    height: 200px;
  }
  .contact_page .waiting {
    width: 100%;
    text-align: center;
    color: #2C3E50;
    font-size: 0.8em;
  }
  .contact_page .button {
    width: 97.5%;
    padding: 10px 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.42857143;
    background: #2C3E50;
    color: white;
    border: 1px solid #3B5998;
    border-radius: 5px;
  }

  footer {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen {
  footer .title {
    color: #3B5998;
    font-family: "PoppinsMedium";
    border-bottom: 2px solid #3B5998;
  }
}
@media screen and (min-width: 768px) {
  footer .title {
    width: 100%;
  }
}
@media screen {
  footer .about {
    margin: 10px 10px;
  }
}
@media screen and (min-width: 768px) {
  footer .about {
    width: 40%;
  }
}
@media screen {
  footer .about .sous-titre {
    color: #3B5998;
    font-family: "robotoBold";
  }
  footer .about .about_me {
    font-family: "robotoLight";
  }
  footer .social {
    margin: 10px 10px;
  }
}
@media screen and (min-width: 768px) {
  footer .social {
    width: 40%;
  }
}
@media screen {
  footer .social .sous-titre {
    color: #3B5998;
    font-family: "robotoBold";
  }
  footer .social img {
    margin: 5px 10px;
  }
  footer .social img:hover {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
  }
}

/*# sourceMappingURL=style.css.map */
