@import 'partials/mixin';
@import 'partials/var';
@import 'partials/font';


@media screen {

  body {
    margin: 0px;
  }

  p, ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  .none{
    display: none;
  }
  header {
    position: fixed;
    width: 100%;
    .navigation {
      height: $nav-height;
      background: $nav-background;
    }

    // Logo and branding
    .brand {
      position: absolute;
      padding-left: 20px;
      float: left;
      line-height: $nav-height;
      text-transform: uppercase;
      font-size:1.7em;
      font-family: 'robotoBold';

      a{
        color: $nav-font-color;
        text-decoration: none;
      }

    }

    // Container with no padding for navbar
    .nav-container {
      max-width: $content-width;
      margin: 0 auto;
    }

    // Navigation
    nav {
      float: right;
      font-family: 'PoppinsSemiBold';
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          position: relative;
          font-size: 0.8em;

          .active{
            background: $link-hover-color;
          }

          a{
            display: block;
            padding: 0 20px;
            line-height: $nav-height;
            background: $nav-background;
            color: $nav-font-color;
            text-decoration: none;
            &:hover {
              background: $link-hover-color;
              color: $nav-font-color;
            }
            &:not(:only-child):after {
              padding-left: 4px;
              content: ' ▾';
            }

            .avatar{
              max-width: 25px;
              margin-bottom: -8px;
            }
          } // Dropdown list
          ul{
            li {
              min-width: 190px;
              &:first-child{
                padding-top: 50px;
              }
              a {
                padding: 15px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }

    // Dropdown list binds to JS toggle event
    .nav-dropdown {
      position: absolute;
      display: none;
      z-index: 1;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }

    /* Mobile navigation */

    // Binds to JS Toggle
    .nav-mobile {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background: $nav-background;
      height: $nav-height;
      width: $nav-height;
    }
    @media only screen and (max-width: $breakpoint) {
      // Hamburger nav visible on mobile only
      .nav-mobile {
        display: block;
      }
      nav {
        width: 100%;
        padding: $nav-height 0 15px;
        ul {
          display: none;
          li {
            float: none;
            a {
              padding: 15px;
              line-height: 20px;
            }
            ul li a {
              padding-left: 30px;
            }
          }
        }
      }
      .nav-dropdown {
        position: static;
      }
    }
    @media screen and (min-width: $breakpoint) {
      .nav-list {
        display: block !important;
      }
    }
    #nav-toggle {
      position: absolute;
      left: 18px;
      top: 22px;
      cursor: pointer;
      padding: 10px 35px 16px 0px;
      span,
      span:before,
      span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
      }
      span:before {
        top: -10px;
      }
      span:after {
        bottom: -10px;
      }
      &.active span {
        background-color: transparent;
        &:before,
        &:after {
          top: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }

  }


  .modal{

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .modal-content{

      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 90%;


      @media(min-width: 768px) {
        width: 70%;
      }
      @media(min-width: 1024px) {
        width: 40%;
      }

      .error_block{
        color: red;
      }
      .success_block{
        color: green;

        #loginAfterRegister{
          text-decoration: underline;
          color: $link-hover-color;
          cursor: pointer;
        }
      }

      .title{
        color: $neutral;
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
        padding-bottom: 5px;
      }

      #registerBtn{
        margin: auto;
        text-decoration: underline;
        color: $neutral;
        cursor: pointer;
      }

      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .login_form {
        p {
          color: $neutral;
          font-family: "robotoBold";
        }
        input {
          width: 94%;
          margin: 10px 0;
          padding: 10px 10px;
          font-size: 15px;
          line-height: 1.42857143;
          border-radius: 5px;
          &:focus {
            border: 2px solid $neutralColor;
          }
        }
      }
      .button {
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 1.42857143;
        background: $neutral;
        color: white;
        border: 1px solid $neutralColor;
        border-radius: 5px;
      }
    }

  }

  #container{
    background: #f7f7f7;
    .search-box{
      padding-top: 70px;
      width: 100%;
      background: $neutralColor;;
      max-height: 50px;
      padding-bottom: 0;
      @include flex_trinity(row, space-around);
      @media(min-width: 768px) {
        @include flex_trinity(column, space-around);
      }
      form{
        width: 100%;
        height: 50px;
        color: white;


        @media(min-width: 768px) {
          width: 30%;
        }
        input[type=text] {
          width: 83%;
          @media(min-width: 768px) {
            width: 86%;
          }
          max-height: 50px;
          border: 2px solid $neutralColor;
          font-size: 1.2em;
          background-color: $neutral;
          background-image: url('../img/search.png');
          background-position: 12px 12px;
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          color: white;
        }
      }


      .submenu{
        display: none;
        height: 50px;
        @media(min-width: 768px) {
          display: block;
          width: 70%;
          nav {
            font-family: 'PoppinsSemiBold';
            width: 100%;
            margin: auto;
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              height: 50px;
              width: 100%;
              text-align: center;
              background: #FFF;
              @media(min-width: 768px) {
                @include flex_trinity(column, space-around);
              }

              li {
                float: left;
                position: relative;
                font-size: 1.2em;

                a{
                  display: block;
                  color: #66757F;
                  text-decoration: none;
                  padding: 9px;
                  &:hover {
                    border-bottom: 2px solid #1DA1F2;
                    color: #1DA1F2;
                  }
                  &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                  }
                }
              }
            }
          }
        }
      }
    }

    @media(min-width: 768px) {
      @include flex_trinity(row, space-between);
    }

    .content{
      width: 100%;

      .profile{
        padding: 10px;
        background: #E5E5E5;
        @media(min-width: 768px) {
          @include flex_trinity(row, space-between);
        }
        .contacts{
          width: 100%;
          @media(min-width: 768px) {
            width: 70%;
          }
          .container_form {
            margin: 0 10px;
            .success_block {
              color: $green;
              font-family: "PoppinsSemiBold";
            }

            .title {
              color: $neutralColor;
              font-family: "robotoLight";
              border-bottom: 2px solid $neutralColor;
            }
            .error_block {
              color: $red;
              font-family: "PoppinsSemiBold";
            }
            .login_form {
              p {
                color: $neutralColor;
                font-family: "robotoBold";
                padding: 10px;
              }
              .input {
                width: 94%;
                margin: 10px 0;
                padding: 10px 10px;
                font-size: 15px;
                line-height: 1.42857143;
                border-radius: 5px;
                &:focus {
                  border: 2px solid $neutralColor;
                }
              }

            }
            .button {
              width: 100%;
              padding: 10px 10px;
              margin: 30px 0;
              font-size: 15px;
              line-height: 1.42857143;
              background: $neutralColor;
              color: white;
              border: 1px solid $neutralColor;
              border-radius: 5px;
            }
          }
        }
        .avatar-box{
          //background: #E5E5E5;
          @media(min-width: 768px) {
            width: 20%;
          }
          img{
            width: 100%;
            border-radius: 50%;
          }

          div{
            width: 100%;
            text-align: center;
            font-size: 0.8em;
            color: #66757F;
          }
        }
      }
      .admin{
        width: 100%;
        .container_form {
          margin: 0 10px;
          .success_block {
            color: $green;
            font-family: "PoppinsSemiBold";
          }

          .title {
            color: $neutralColor;
            font-family: "robotoLight";
            border-bottom: 2px solid $neutralColor;
          }
          .error_block {
            color: $red;
            font-family: "PoppinsSemiBold";
          }
          .login_form {
            p {
              color: $neutralColor;
              font-family: "robotoBold";
              padding: 10px;
            }
            .input {
              width: 94%;
              margin: 10px 0;
              padding: 10px 10px;
              font-size: 15px;
              line-height: 1.42857143;
              border-radius: 5px;
              &:focus {
                border: 2px solid $neutralColor;
              }
            }

          }
          .button {
            width: 100%;
            padding: 10px 10px;
            margin: 30px 0;
            font-size: 15px;
            line-height: 1.42857143;
            background: $neutralColor;
            color: white;
            border: 1px solid $neutralColor;
            border-radius: 5px;
          }
        }
      }

      @media(min-width: 768px) {
        width: 68%;
      }
    }
    .playlist{
      width: 100%;
      @media(min-width: 768px) {
        width: 30%;
      }

      .available-audios {
        bottom: 0;

        left: 0;
        right: 0;
        top: 0;
        width: 100%;

        .player{
          background-color: transparentize(black, .5);
          color: white;
          flex-grow: 0;
          height: 400px;

          audio {
            display: none;
          }

          .cover {
            background-image: linear-gradient(to bottom, transparentize(black, .25), transparentize(black, 1));
            background-size: 100% 100%;
            height: 100%;

            .controls {
              display: flex;
              width: 90%;
              margin: auto;
              height: 60px;
              padding-top: 10px;

              @include flex_trinity(column, space-around);


              button {
                background-color: transparent;
                border-radius: 50%;
                width: 60px;
                min-height: 60px;
                color: white;
                font-size: 150%;

                &:hover {
                  background-color: white;
                  color: black;
                  cursor: pointer;
                }

                &.pause {
                  display: none;
                }
              }
            }

          }

          .timer {
            width: 100%;
            border-radius: .75em;
            font-family: Fira Mono;
            font-size: 250%;
            height: 60px;
            line-height: 1.66em;
            margin: 60px auto;
            right: 0;
            text-align: center;
          }



          .volume {
            width: 100%;
            text-align: center;
            height: 60px;

            .volume-button {
              background-color: transparent;
              border-radius: 50%;
              width: 60px;
              min-height: 60px;
              color: white;
              font-size: 150%;

              &:hover {
                background-color: white;
                color: black;
                cursor: pointer;
              }
            }
          }
          .progress {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            height: 10px;
            width: 100%;
            border-left: 1px solid green;
            border-bottom: 1px dotted $green;

            &::-moz-progress-bar, &::-webkit-progress-value {
              background-color: white;
            }

            &::-webkit-progress-bar {
              background-color: transparent;
            }
          }
        }
        .track-list {
          font-size: 1.25em;
          width: 100%;
          background: #FFFFFF;

          ul {
            counter-reset: trackCounter;
            list-style: none;
            margin: 0;
            padding: 0;

            .track-info {
              counter-increment: trackCounter;
              display: flex;
              padding: .5em;
              color: #6E7786;

              &:before {
                content: counter(trackCounter) ".";
                margin-right: .25em;
              }

              &.active {
                color: #4AB3F4;

                .title:after {
                  content: ">";
                  margin-left: .5em;
                }
              }

              &:nth-child(even) {
                background-color: transparentize(#f7f7f7, .75);
              }

              &:hover {
                cursor: pointer;
                color: #4AB3F4;
              }

              .title {
                flex: 7 0 0;
              }

              .time {
                flex: 1 0 0;
                text-align: right;
              }
            }
          }
        }
      }

    }



  }

  .contact_page {
    padding-top: 58px;
    margin: 0 10px;
    .success_block {
      color: $green;
      font-family: "PoppinsSemiBold";
    }
    @media(min-width: 768px) {
      width: 80%;
      margin: auto;
      min-height: 500px;
    }
    .title {
      color: $neutral;
      font-family: "robotoLight";
      border-bottom: 2px solid $neutral;
    }
    .error_block {
      color: $red;
      font-family: "PoppinsSemiBold";
    }
    .login_form {
      p {
        color: $neutral;
        font-family: "robotoBold";
      }
      input, textarea {
        width: 94%;
        margin: 10px 0;
        padding: 10px 10px;
        font-size: 15px;
        line-height: 1.42857143;
        border-radius: 5px;
        &:focus {
          border: 2px solid $neutralColor;
        }
      }
      textarea {
        height: 200px;
      }
    }
    .waiting{
      width: 100%;
      text-align: center;
      color: $neutral;
      font-size: 0.8em;
    }
    .button {
      width: 97.5%;
      padding: 10px 10px;
      margin-bottom: 30px;
      font-size: 15px;
      line-height: 1.42857143;
      background: $neutral;
      color: white;
      border: 1px solid $neutralColor;
      border-radius: 5px;
    }
  }

  footer {
    margin: 0 10px;
    @include flex_trinity(column, space-around);
    @media(min-width: 768px) {
      @include flex_trinity(row, space-around);
    }
    .title {
      color: $neutralColor;
      font-family: "PoppinsMedium";
      border-bottom: 2px solid $neutralColor;
      @media(min-width: 768px) {
        width: 100%;
      }
    }
    .about{
      margin: 10px 10px;
      @media(min-width: 768px) {
        width: 40%;
      }
      .sous-titre{
        color: $neutralColor;
        font-family: "robotoBold";
      }
      .about_me{
        font-family: "robotoLight";
      }
    }
    .social {
      margin: 10px 10px;
      @media(min-width: 768px) {
        width: 40%;
      }
      .sous-titre{
        color: $neutralColor;
        font-family: "robotoBold";
      }
      img {
        margin: 5px 10px;
        &:hover{
          filter: grayscale(50%);
          -webkit-filter: grayscale(50%);
          -moz-filter: grayscale(50%);
          -ms-filter: grayscale(50%);
          -o-filter: grayscale(50%);
        }
      }
    }
  }
}