@font-face {
  src: url('../fonts/Roboto-Bold.ttf');
  font-family: 'robotoBold';
}

@font-face {
  src: url('../fonts/Roboto-Regular.ttf');
  font-family: 'robotoRegular';
}

@font-face {
  src: url('../fonts/Roboto-Light.ttf');
  font-family: 'robotoLight';
}

@font-face {
  src: url('../fonts/Poppins-Medium.ttf');
  font-family: 'PoppinsMedium';
}

@font-face {
  src: url('../fonts/Poppins-Regular.ttf');
  font-family: 'PoppinsRegular';
}

@font-face {
  src: url('../fonts/Poppins-Regular.ttf');
  font-family: 'PoppinsSemiBold';
}

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
