$neutralColor: #3B5998; // nav || footer
$neutral: #2C3E50;
$orange: #f0816c;
$orangeHover: #FFAB9B;
$red: #ed6147;
$grey: grey;
$green: #39B54A;
$hover: #2EBC99;
$backgroundArticle: #ECF0F1;
$backgroundComment: #E9EAEC;
$idColor1: #0e0570;
$idColor2: #f72525;
$idColor3: #0bbc01;
$codeBackground : #3C3F41;
$codeFunction : #CC7832;
$codeText : #A9B7C6;
$codeComment : #808080;


$content-width: 1200px;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #3B5998;
$nav-font-color: #ffffff;
$link-hover-color: #355088;
$background: #f7f7f7;